.GotTalentBar {
  display: flex;
  padding: 80px 0px;
}
.GotTalentBar1 {
  height: 659px;
  width: 659px;
}
.GotTalentBar2 {
  padding: 60px;
  padding-right: 162px;
}
.GotTalentBar21 {
  margin-right: 8px;
  margin-bottom: 16px;
  font-family: "angelgalano", sans-serif;
  color: #000;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.GotTalentBar22 {
  margin: 20px 140px 60px 0px;
  font-family: "angelgalano", sans-serif;
  color: #000;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  letter-spacing: -0.8px;
}
.GotTalentBar23div {
  margin: 0px 0px 40px 0px;
}
.GotTalentBar23 {
  display: flex;
  background-color: #fff;
  font-family: "angelarbeit", sans-serif;
  color: #383838;
  font-size: 15px;
  line-height: 140%;
  margin: 0px 0px 24px 0px;
}
.GotTalentBar23image {
  margin-right: 12px;
}
.GotTalentBar23text {
  padding-top: 10px;
}
.GotTalentBarrowreverse {
  flex-direction: row-reverse;
}
@media only screen and (max-width: 450px) {
  .GotTalentBar {
    display: flex;
    padding: 60px 0px;
    flex-direction: column;
  }
  .GotTalentBar1 {
    height: 361px;
    width: 361px;
  }
  .GotTalentBar2 {
    padding: 40px 0px;
  }
  .GotTalentBar21 {
    margin-right: 2px;
    margin-bottom: 8px;
    font-size: 11px;
    line-height: 15px;
  }
  .GotTalentBar22 {
    margin: 20px 0px 32px 0px;

    color: #000;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.2px;
  }
  .GotTalentBar23div {
    margin: 0px 0px 40px 0px;
  }
  .GotTalentBarbutton {
    display: flex;
    flex-direction: column;
  }
  .GotTalentBar23 {
    display: flex;
    background-color: #fff;

    color: #383838;
    font-size: 14px;
    line-height: 140%;
    margin: 0px 0px 24px 0px;
  }
  .GotTalentBar23image {
    margin-right: 12px;
  }
  .GotTalentBar23text {
    padding-top: 10px;
  }
}
@media only screen and (min-width: 450px) and (max-width: 800px) {
  .GotTalentBar {
    display: flex;
    padding: 60px 0px;
    flex-direction: column;
  }
  .GotTalentBar1 {
    height: 608px;
    width: 608px;
    margin: -121px 0px -152px 0px;
  }
  .GotTalentBar2 {
    padding: 60px;
  }
  .GotTalentBar21 {
    margin: 20px 8px 12px 0px;
    font-size: 12px;
    line-height: 15px;
  }
  .GotTalentBar22 {
    margin: 20px 0px 32px 0px;

    color: #000;
    font-size: 30px;
    line-height: 31px;
    letter-spacing: -0.2px;
  }
  .GotTalentBar23div {
    margin: 0px 0px 40px 0px;
  }
  .GotTalentBarbutton {
    display: flex;
  }
  .GotTalentBar23 {
    display: flex;
    background-color: #fff;

    color: #383838;
    font-size: 15px;
    line-height: 140%;
    margin: 0px 0px 24px 0px;
  }
  .GotTalentBar23image {
    margin-right: 12px;
  }
  .GotTalentBar23text {
    padding-top: 10px;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1400px) {
  .GotTalentBar {
    display: flex;
    padding: 80px 0px;
  }
  .GotTalentBar1 {
    height: auto;
    width: 100%;
  }
  .GotTalentBar2 {
    padding: 60px;
  }
  .GotTalentBar21 {
    margin-right: 8px;
    margin-bottom: 16px;

    color: #000;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .GotTalentBar22 {
    margin: 20px 60px 32px 0px;

    color: #000;
    font-size: 40px;
    line-height: 52px;
    font-weight: 700;
    letter-spacing: -0.8px;
  }
  .GotTalentBar23div {
    margin: 0px 0px 40px 0px;
  }
  .GotTalentBar23 {
    display: flex;
    background-color: #fff;

    color: #383838;
    font-size: 15px;
    line-height: 140%;
    margin: 0px 0px 24px 0px;
  }
  .GotTalentBar23image {
    margin-right: 12px;
  }
  .GotTalentBar23text {
    padding-top: 10px;
  }
  .GotTalentBarrowreverse {
    flex-direction: row-reverse;
  }
}
@media only screen and (min-width: 1400px) {
  .GotTalentBar22 {
    margin: 20px 80px 60px 0px;
    color: #000;
    font-size: 40px;
    line-height: 52px;
    font-weight: 700;
    letter-spacing: -0.8px;
  }
}
